@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html {
    min-height: 100%
}

body {
    font-family: 'DM Sans';
    min-height: 100%;
}

div.account-bar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans';
    top: 0;
}

div.account-bar > ul > li {
    display: inline;
    float: right;
    margin: 10px;
}

div.account-bar > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.google {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;
}

div.google > p {
    font-size: 50px;
}

div.search-bar {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

div.search-bar > input {
    border: none;
    min-width: 400px;
    background-color: #e2e2e2;
    min-height: 25px;
    font-family: 'DM Sans';
    font-size: 20px;
}

div.search-bar > input:focus {
    outline: none;
}

div.search-bar > div > svg {
    height: 100%;
    stroke: #000000;
    transition: all 0.2s;   
}

div.search-bar > div > svg:hover {
    stroke: #2d769d;
    transition: all 0.2s;
}
