@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html {
    min-height: 100%
}

body {
    font-family: 'DM Sans';
    min-height: 100%;
}

div.account-bar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans';
    top: 0;
}

div.account-bar > ul > li {
    display: inline;
    float: right;
    margin: 10px;
    transition: all 0.2s;
}

div.account-bar > ul > li:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
    transition: all 0.2s;
}

div.google {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;
}

div.google > p {
    font-size: 50px;
    margin: 0px !important;
    animation: google-grad 2s linear infinite;

    /*Credit to hyperplexed for the amazing gradient animation!*/
    background: linear-gradient(to right, #2f6ed4, #30ac9d, #2f6ed4);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

div.search-bar {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    min-width: 50vw;
}

div.search-bar > input {
    border: none;
    min-width: calc(100% - 30px);
    margin-left: 5px;
    background-color: #e2e2e2;
    min-height: 25px;
    font-family: 'DM Sans';
    font-size: 20px;
}

div.search-bar > input:focus {
    outline: none;
}

div.search-bar > div > svg {
    height: 100%;
    stroke: #000000;
    transition: all 0.2s; 
    -webkit-transition: all 0.2s;  
}

div.search-bar > div > svg:hover {
    stroke: #2d769d;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

@media (max-width: 768px) {
    div.search-bar > input {
        height: 10vw;
    }

    div.search-bar {
        min-width: 90vw;
    }
}

/*Animations:*/

@keyframes google-grad {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes button {
    0% {
        border-left: solid #2d769d;
    }
    25% {
        border-top: solid #2d769d;
    }
    50% {
        border-right: solid #2d769d;
    }
    75% {
        border-bottom: solid #2d769d;
    }
    100% {
        border-left: solid #2d769d;
    }
}