@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html {
    min-height: 100%
}

body {
    font-family: 'DM Sans';
    min-height: 100%;
}

div.account-bar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans';
    top: 0;
}

div.account-bar > ul > li {
    display: inline;
    float: right;
    margin: 10px;
}

div.account-bar > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.google {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.google > p {
    font-size: 50px;
}